.essential-link {
  padding-left: 30px;
  padding-right: 37px;
  .q-focusable:focus > .q-focus-helper,
  .q-manual-focusable--focused > .q-focus-helper,
  .q-hoverable:hover > .q-focus-helper {
    background: #dbdbdb !important;
  }
  .q-item {
    border-radius: 8px;
    padding: 10px 21px 10px 30px;
    min-height: 42px;
    max-width: 208px;
    @media (min-width: 772px) and (max-width: 1440px) {
      padding: 10px 19px 10px 19px;
      max-width: 186px;
    }
    @media (max-width: 772px) {
      max-width: 100%;
      padding: 10px 23px 10px 20px;
    }
    .q-item__section {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .q-item__label {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: $dark;
        align-items: center;
        display: flex;
        position: relative;
        sup {
          font-size: 10px;
          margin-left: 4px;
          position: relative;
          top: -3.9px;
        }
      }
      .q-icon {
        margin-left: auto;
        font-size: 12px;
      }
    }
    &.q-router-link--active {
      background: $primary; 
      .q-item__label {
        color: white;
      }
    }
  }
  @media (max-width: 772px) {
   padding-left: 15px; 
   padding-right: 15px; 
   padding-top: 79px !important;
  }
}
.q-item__avatar {
  display: none;
  padding: 0 35px;
  margin-top: 26px;
  margin-bottom: 26px;
  @media (max-width: 772px) {
    display: flex;
  }
  .q-item__section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    .img-section {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      img {
      
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        width: 100%;
        height: max-content;
        text-align: center;
      }
    }
    
    .q-item__label {
      font-size: 16px;
      line-height: 12px;
      color: black;
      margin-left: 13px;
    }
    .q-icon {
      margin-left: auto;
    }
  }
}
.essential-about {
  margin-top: auto;
  padding-left: 44px;
  padding-bottom: 60px;
  .q-item {
    min-height: auto;
    padding: 7.8px 16px;
    @media (max-width: 1440px) {
      padding-left: 0;
    }
    .q-focus-helper {
      display: none;
    }
    .q-item__label {
      font-weight: 400;
      font-size: 16px;
      line-height: 15px !important;
      letter-spacing: -0.02em;
      color: $grey-5;
      transition: all 0.25s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  @media (max-width: 772px) {
    padding-left: 35px;
    padding-bottom: 40px;
    .q-item {
      min-height: auto;
      padding: 4.5px 16px;
      @media (max-width: 1440px) {
        padding-left: 0;
      }
      .q-focus-helper {
        display: none;
      }
      .q-item__label {
        font-size: 14px;
        line-height: 14px !important;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}